@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.titulosCentrales {
  font-size: 1.5rem;
  color: #fff;
  background-color: #646464;
  text-align: center; }

/*SECCION HEADER*/
#header .bgColor {
  background-color: #000; }

#header .logo {
  height: 55px;
  width: 50vh; }

#header li {
  display: inline-block;
  padding: 0 18px;
  list-style-type: none; }

#header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  color: #aaa; }
  #header li a:hover {
    color: #fff; }

#header .nav-item {
  transform: scale(0.93);
  transition: all 950ms ease-in-out; }
  #header .nav-item:hover {
    transform: scale(1); }

#header .active a {
  color: #fff; }
  #header .active a:hover {
    font-weight: bold;
    color: #aaa; }

#header .logSearch {
  height: 20px; }

/*SECCION BANNER*/
.carousel {
  margin-top: 81px; }

/*SECCION CATEGORIAS*/
#categorias .card {
  width: 19rem; }

#categorias .nombre {
  text-align: center;
  font-size: 1.1rem;
  color: #fff; }

.btnColor {
  color: black;
  background-color: white;
  border-color: black; }
  .btnColor:hover {
    color: #fff;
    background-color: #000;
    border-color: black; }

.caja {
  transform: scale(0.9);
  transition: all 800ms ease-in-out;
  position: relative; }

.blocCatg:hover .caja {
  transform: scale(1); }

.blocCatg .nombre {
  background: radial-gradient(circle, #606060 0%, rgba(172, 172, 172, 0.72451) 100%);
  cursor: pointer; }

/*MEDIAS QUERIES*/
@media all and (min-width: 768px) {
  .titulosCentrales {
    font-size: 1.8rem; } }

/*SECCION PRODUCTOS*/
#productos {
  min-height: 100vh;
  padding-top: 135px; }
  #productos .nombreP {
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    margin-top: 0.3em;
    background: radial-gradient(circle, #606060 0%, rgba(172, 172, 172, 0.72451) 100%); }
  #productos .precioP {
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 0.3em; }
  #productos .group {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin: 10px;
    padding-bottom: 75px;
    padding-top: 40px; }

.blockP {
  display: block;
  margin: auto; }
  .blockP img {
    transform: scale(0.8);
    transition: all 950ms ease-in-out;
    position: relative;
    cursor: pointer; }
    .blockP img:hover {
      transform: scale(1); }

/*SECCION FOOTER*/
.bgFooter {
  background-color: #2e2e2e; }

.navInferior li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: #aaa; }
  .navInferior li a:hover {
    color: #fff; }

.navInferior .active a {
  color: #fff; }
  .navInferior .active a:hover {
    font-weight: bold;
    color: #aaa; }

.icono {
  overflow: hidden;
  width: 30px;
  height: 30px;
  filter: invert(100%);
  transform: scale(0.98); }
  .icono:hover {
    border: 1.5px solid black;
    border-radius: 10px;
    transform: scale(1); }

/*ICONO WHATSAPP*/
.whatsapp .iconWa {
  overflow: hidden;
  position: fixed;
  max-width: 42px;
  bottom: 10px;
  right: 7px;
  z-index: 100; }
