@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.titulosCentrales {
  font-size: 1.5rem;
  color: #fff;
  background-color: #646464;
  text-align: center; }

/*SECCION HEADER*/
#header .bgColor {
  background-color: #000; }

#header .logo {
  height: 55px;
  width: 50vh; }

#header li {
  display: inline-block;
  padding: 0 18px;
  list-style-type: none; }

#header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  color: #aaa; }
  #header li a:hover {
    color: #fff; }

#header .nav-item {
  transform: scale(0.93);
  transition: all 950ms ease-in-out; }
  #header .nav-item:hover {
    transform: scale(1); }

#header .active a {
  color: #fff; }
  #header .active a:hover {
    font-weight: bold;
    color: #aaa; }

#header .logSearch {
  height: 20px; }

/*SECCION BANNER*/
.carousel {
  margin-top: 81px; }

/*SECCION CATEGORIAS*/
#categorias .card {
  width: 19rem; }

#categorias .nombre {
  text-align: center;
  font-size: 1.1rem;
  color: #fff; }

.btnColor {
  color: black;
  background-color: white;
  border-color: black; }
  .btnColor :hover {
    color: #fff;
    background-color: #000;
    border-color: black; }

.caja {
  transform: scale(0.9);
  transition: all 800ms ease-in-out;
  position: relative; }

.blocCatg :hover .caja {
  transform: scale(1); }

.blocCatg .nombre {
  background: radial-gradient(circle, #606060 0%, rgba(172, 172, 172, 0.72451) 100%);
  cursor: pointer; }

/*MEDIAS QUERIES*/
@media all and (min-width: 768px) {
  .titulosCentrales {
    font-size: 1.8rem; } }

/*SECCION PRODUCTOS*/
#productos {
  min-height: 100vh;
  padding-top: 135px; }

.productos__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 70px;
  color: white;
  background-color: #646464;
  text-align: center; }

.productos__nombre {
  text-align: center;
  font-size: 1.1rem;
  color: #7d656b;
  margin-top: 0.3em; }

.productos__precio {
  text-align: center;
  font-size: 0.8rem;
  color: #7d656b;
  margin-top: 0.3em; }

.productos__grupo {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px;
  padding-bottom: 75px;
  padding-top: 40px; }

.productos__bloque {
  display: block;
  margin: auto; }

.productos__img {
  transform: scale(0.8);
  transition: all 950ms ease-in-out;
  position: relative;
  cursor: pointer; }
  .productos__img:hover {
    transform: scale(1); }

/*SECCION FOOTER*/
#footer .navfooter__bg {
  background-color: #2e2e2e; }

#footer .navfooter__lista li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff; }
  #footer .navfooter__lista li a:hover {
    color: white; }

#footer .navfooter__lista .active a {
  color: white; }
  #footer .navfooter__lista .active a:hover {
    font-weight: bold;
    color: #fff; }

#footer .navfooter__icono {
  overflow: hidden;
  width: 30px;
  height: 30px; }

/*ICONO WHATSAPP*/
.whatsapp__icon {
  overflow: hidden;
  position: fixed;
  max-width: 45px;
  bottom: 7px;
  right: 6px;
  z-index: 100; }
