@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  color: #3e3e3ea1;
  font-weight: 400; }

/*SECCION HEADER*/
@mixing gradienteBoton {
  background: radial-gradient(circle, rgba(153, 221, 217, 0.496236) 0%, #e6c4b7 100%);
  cursor: pointer; }

#header .navmenu__bg {
  background-color: #50908d; }

#header .navmenu__img {
  padding-top: 1px;
  height: 55px;
  width: 55px; }

#header li {
  display: inline-block;
  padding: 0 4px;
  list-style-type: none; }

#header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #3e3e3ea1; }
  #header li a:hover {
    color: white; }

#header .nav-item {
  transform: scale(0.93);
  transition: all 950ms ease-in-out; }
  #header .nav-item:hover {
    transform: scale(1); }

#header .active a {
  color: white; }
  #header .active a:hover {
    font-weight: bold;
    color: #3e3e3ea1; }

#header .navmenu__logsearch {
  background-image: url("../media/search.svg");
  background-repeat: no-repeat;
  height: 20px;
  background-position: center; }

/*SECCION BANNER*/
.carousel {
  margin-top: 81px; }

/*SECCION CATEGORIAS*/
.categorias__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: #aeadad; }

.card {
  width: 19rem; }

.categorias__colorbtn {
  background-color: #50908d;
  border-color: #50908d; }

.nombre {
  text-align: center;
  font-size: 1.2rem;
  color: #7d656b; }

.categorias__cajas {
  transform: scale(0.9);
  transition: all 800ms ease-in-out;
  position: relative;
  cursor: pointer; }

.categorias__box .nombre {
  background: #99ddd9;
  background: radial-gradient(circle, rgba(153, 221, 217, 0.496236) 0%, #e6c4b7 100%);
  cursor: pointer; }

.categorias__box:hover .categorias__cajas {
  transform: scale(1); }

/*MEDIAS QUERIES*/
@media all and (min-width: 768px) {
  .categorias__titulo--lg {
    font-size: 2rem; }
  .productos__titulo--lg {
    font-size: 2rem; } }

/*SECCION PRODUCTOS*/
#productos {
  min-height: 100vh;
  padding-top: 135px; }

.productos__titulo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 70px;
  color: white;
  background-color: #aeadad;
  text-align: center; }

.productos__nombre {
  text-align: center;
  font-size: 1.1rem;
  color: #7d656b;
  margin-top: 0.3em; }

.productos__precio {
  text-align: center;
  font-size: 0.8rem;
  color: #7d656b;
  margin-top: 0.3em; }

.productos__grupo {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  margin: 10px;
  padding-bottom: 75px;
  padding-top: 40px; }

.productos__bloque {
  display: block;
  margin: auto; }

.productos__img {
  transform: scale(0.8);
  transition: all 950ms ease-in-out;
  position: relative;
  cursor: pointer; }
  .productos__img:hover {
    transform: scale(1); }

/*SECCION FOOTER*/
#footer .navfooter__bg {
  background-color: #50908db5; }

#footer .navfooter__lista li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #3e3e3ea1; }
  #footer .navfooter__lista li a:hover {
    color: white; }

#footer .navfooter__lista .active a {
  color: white; }
  #footer .navfooter__lista .active a:hover {
    font-weight: bold;
    color: #3e3e3ea1; }

#footer .navfooter__icono {
  overflow: hidden;
  width: 30px;
  height: 30px; }

/*ICONO WHATSAPP*/
.whatsapp__icon {
  overflow: hidden;
  position: fixed;
  max-width: 45px;
  bottom: 7px;
  right: 6px;
  z-index: 100; }
