
/*SECCION CONTACTO*/
#contacto{
	min-height: 100vh;
	padding-top: 135px;
	.container{
		background-color: $bg-color-form;
		border-radius: 15px;
	}
	.tituloContacto{
		margin-top: 40px;
		padding-right: 80px;
		color: #7d656b;
		font-weight: 400;
		font-size: 22px;
		text-align: right;
		background: linear-gradient(90deg, rgba(174,173,173,1) 40%, rgba(174,173,173,0.2861519607843137) 85%);
	}
	.listaContacto{
		text-align: right;
		list-style-type: none;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-right: 80px;
		font-size: 1rem;
		color: black;
		li a{
			text-decoration: none;
			&:hover {
			    text-decoration: none;
			    color: $font-color-2;
			}
		}
		a{
			color: black;
		}
	}
}	
textarea{
	resize: none;
}
.icon2{
	overflow: hidden;
    width: 32px;
    height: 32px;
    margin-right:5px;
}