/*SECCION HEADER*/
#header{
    .bgColor{
        background-color: $bg-color-general;
    } 
    .logo{
        height: 55px;
        width: 50vh;
    }
    li{
        display: inline-block;
        padding: 0 18px;
        list-style-type: none;
    }   
    li a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: .9em;
        color: $font-color-2;
        &:hover{
            color: $font-color
        }
    }
    .nav-item{
        transform: scale(0.93);
        transition: all 950ms ease-in-out;
        &:hover{
            transform: scale(1);
        }
    }
    .active a{
        color: $font-color;
        &:hover{
            font-weight: bold;
            color: $font-color-2;
        }
    }
    .logSearch{
        height: 1.5em;
    }
}