
/*SECCION BANNER*/
.carousel{
    margin-top: 81px;
}

/*SECCION CATEGORIAS*/
#categorias{    
    .card{
        width: 19rem;
    }
    .nombre{
        text-align: center;
        font-size: 1.1rem;
        color: $font-color;
    }
}
.btnColor{
    color: black;
    background-color: white;
    border-color: black;
    :hover{
        color: $font-color;
        background-color: $bg-color-general;
        border-color: black;
    }
}
.caja{
    transform: scale(0.9);
    transition: all 800ms ease-in-out;
    position: relative;
}
.blocCatg{
    .nombre{
        background: $bg-gradient;
        cursor: pointer;
    }
    :hover .caja{
        transform: scale(1);
    }
}

/*MEDIAS QUERIES*/
@media all and (min-width: 768px) {
    .titulosCentrales{
        font-size: 1.8rem;
    }
}