
/*SECCION NOSOTROS*/
#nosotros{
	padding-top: 135px;
	min-height: 100vh;
	.container{
		background-color: $bg-color-form;
		border-radius: 15px;
	}
	.cajaNosotros{
		margin-top: 40px;
		margin-bottom: 45px;
	}
	.texto1{
		color: black;
		letter-spacing: 0.35px;
		line-height: 1.7em;
		font-size: 1.3rem;
		padding-right: 9px;
		padding-top: 52px;
		padding-bottom: 52px;
		margin-bottom: 0;
	}
}
.foto-nosotros{
	display: flex; 
	margin: auto;
	padding-top: 40px;
	padding-bottom: 25px;
}