
/*SECCION PRODUCTOS*/
#productos{
	min-height: 100vh;
	padding-top: 135px;
	.nombreP{
		text-align: center;
		font-size: 1.1rem;
		color: $font-color;
		margin-top: 0.3em;
		background: $bg-gradient;
	}
	.precioP{
		text-align: center;
		font-size: 0.8rem;
		color: $font-color-2;
		margin-top: 0.3em;
	}
	.group{
		min-height: 80vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;	
		justify-content: space-around;
		align-items: flex-end;
		margin: 10px;
		padding-bottom: 75px;
	    padding-top: 40px;
	}
}
.blockP{
	display: block;
	margin: auto;
	img{
		transform: scale(0.8);
		transition: all 950ms ease-in-out;
		position: relative;
		cursor: pointer;
		&:hover{
			transform: scale(1);
		}
	}
}