*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $fuente;
    font-weight: 400;
}
.titulosCentrales{
	font-size: 1.5rem;
	color: $font-color;
	background-color: $bg-color-titulo;
	text-align: center;
}