
$fuente: 'Lato', sans-serif;

$font-color: #3e3e3ea1;

$bg-color-general: #50908d;

$bg-color-footer: #50908db5;

$bg-color-titulo: #aeadad;

$bg-gradient:radial-gradient(circle, rgba(153,221,217,0.4962359943977591) 0%, rgba(230,196,183,1) 100%);


