
$fuente: 'Lato', sans-serif;

$font-color: #fff;

$font-color-2: #aaa;

$bg-color-general: #000;

$bg-color-footer: #2e2e2e;

$bg-color-titulo: #646464;

$bg-color-form: #92acab59;

$bg-gradient:radial-gradient(circle, rgba(96,96,96,1) 0%, rgba(172,172,172,0.7245097868248862) 100%);


